* {
    padding: 0;
    margin: 0;
}

/*Body*/
body {
    background-color: hsl(220, 15%, 55%);
}

/*Modal*/



/*Attribution Footer*/

#attribution {
    font-size: 11px;
    text-align: center;
}

#attribution .a {
    color: hsl(228, 45%, 44%);
}