* {
    padding: 0;
    margin: 0;
}

/*Body*/
body {
    background-color: hsl(212, 45%, 89%);
}

/*Modal*/
section .modal {
    width: 375px;
    
}


/*Attribution Footer*/

section .attribution {
    font-size: 11px;
    text-align: center;
}

section .attribution .a {
    color: hsl(228, 45%, 44%);
}